<!--BOTH AUTH AND NOT AUTH-->

<head>
        <title>IndSym_Login</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <header>
        <div class="nav-row">
            <div class="logo">
                <img src="../image/AFRY-Logo.svg" alt="AFRY">
            </div>
            <ul class="main-nav">
                <% if (isAuthenticated) { %>
                    <li><a href="/">Karta</a></li>
                    <li><a href="/my-page">Min sida</a></li>
                    <li><a href="/logout-page">Logga ut</a></li>
                    <li class="active"><a href="/about">Om</a></li>
                <% } else {%>
                    <li><a href="/">Karta</a></li>
                    <li><a href="/login">Logga in</a></li>
                    <li><a href="/register">Registera</a></li>
                    <li class="active"><a href="/about">Om</a></li>
                <% } %>
            </ul>
        </div>
    </header>
    <div class="page">
        <div class="text-div">
            <h2>Urban symbios lyfter Malmö</h2>
            <p>
                Sedan september 2015 har det Vinnovafinansierade projektet ”Delad energi är dubbel energi” arbetat med att underlätta etablering och stimulera cirkulära processer. För att få en bättre förståelse för projektet har vi tagit fram en film som på fyra minuter ger en inblick i hur vi arbetar med urban och industriell symbios.
            </p>
            <p>
                <a href="http://iframe%20src=//players.brightcove.net/745456160001/89c148e0-a23e-47f7-9efd-51723d6dbae4_default/index.html?videoId=5797880869001%20%20allowfullscreen%20%20webkitallowfullscreen%20%20mozallowfullscreen%20%20width=800%20%20height=400/iframe">
                    <iframe class="video" allowfullscreen="allowfullscreen" width="800" height="400"
                    src="//players.brightcove.net/745456160001/89c148e0-a23e-47f7-9efd-51723d6dbae4_default/index.html?videoId=5797880869001"></iframe>
                </a>
            </p>
            <h3>Projektet verkar för</h3>
            <ul class="bullet-list">
                <li>
                    Stad, hamn och industri utvecklas i samverkan för en hållbar och integrerad stad.
                </li>
                <li>
                    Företag och organisationer arbetar i symbios för att ta fram nya produkter, tjänster och servicefunktioner.
                </li>
                <li>
                    Stimulera intresset för industriell symbios genom att erbjuda mötesplatser samt sprida kunskap, erfarenheter och koncept.
                </li>
                <li>
                    Ett långsiktigt åtagande som skapar trygghet för alla som investerar kunskap och kapital.
                </li>
                <li>
                    Använda bästa tillgängliga teknik och testa nya kreativa lösningar.
                </li>
                <li>
                    Fånga upp och accelerera idéer och innovationskraft.
                </li>
                <li>
                    Till en början inrikta arbetet på utvalda fokusområden; energi, logistik och avfall.
                </li>
                <li>
                    Avstampet tas i hamnområdet, där företagsstrukturen ger goda förutsättningar att utveckla industriell symbios.
                </li>
                <li>
                    På sikt involvera fler företag och organisationer inom Malmö, även utanför den traditionella industrisektorn.
                </li>
            </ul>
            <p>
            Vi vill använda industriell symbios som arbetssätt för stadsplaneringsprocesser och näringslivsutveckling i stor skala. Vi ser potential i utveckling och förverkligande av kretsloppslösningar inom industri med syfte att skapa framtida attraktiva hållbara städer.
                    
            </p>
            <p>
                Vi vill använda den kunskap och det nätverk som skapats för att inkludera fler flöden i staden men även fortsätta processen för att skapa en modell för resurseffektiv och cirkulär ekonomi, skalbar i andra regioner och länder. Spridning och kommersialisering av innovativa lösningar kommer att vara en central del av projektet.

            </p>
            <h3>Fokus på industriell symbios och Malmös hamnområde</h3>
            <p>
                Malmös hamnområde ska visa vägen för cirkulär och grön ekonomi genom industriell symbios. Vi fortsätter att utveckla arbetet från att tillvarata energiflöden mellan verksamheter till att även inkludera andra restresurser (t ex VA och avfall).
            </p>
            <p>
                Malmös hamnområde är hjärtat för stadens energiproduktion och avfallshantering, här finns många stora industrier och området är i en expansiv fas. Detta skapar otroligt stora möjligheter för att planera ett hamnområde som utvecklas hållbart.
            </p>
            <p>
                Malmös vision för industriell symbios pekar ut riktningen för vårt fortsatta arbete:
            </p>
            <h3>Inkludera fler restflöden</h3>
            <p>
                Delad energi steg 3 kommer att inkludera fler av stadens restflöden såsom energi, avfall och VA. Delad energi kommer att testa, utveckla, utvärdera och investera i nya arbetsmetoder, planerings- och marknadsföringsverktyg, handelsplats för lokal delning av energi, resursplaner och deklarationer genom symbiotisk samverkan mellan innovativa aktörer inom och utom projektkonstellationen.
            </p>
            <p>
                I projektet har vi för avsikt att jobba mot en hållbar industriell utveckling för att skapa synergier mellan industrier och verksamheter, bevara resurser, ökad tillväxt och sociala värden. Vi kommer att arbeta med förebyggande insatser för att främja cirkulära flöden och att reducera avfallsmängder samt förbättra utsorteringsgrad och renhet i avfallsflöden.
            </p>
            <h3>Cirkulär ekonomi</h3>
            <p>
                Delad Energi är Dubbel Energi använder industriell symbios som arbetsmetod och affärskoncept för att restflöden ska utnyttjas som innovativa resurser i en cirkulär ekonomi.
            </p>
        </div>
    </div>
</body>