<!--BOTH AUTH AND NOT AUTH-->

<head>
    <title>IndSym</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<link rel="stylesheet" href="/esri/themes/light/main.css">-->
    <script src="https://js.arcgis.com/4.14/"></script>
    <script type="text/javascript" src="/js/arcgisMap.js"></script>
    <!--<script src="http://www.openlayers.org/api/OpenLayers.js"></script>-->
    <!--<script type="text/javascript" src="/js/osmMap.js"></script>-->

</head>

<body>
    <header>
        <div class="nav-row">
            <div class="logo">
                <img src="../image/AFRY-Logo.svg" alt="AFRY">
            </div>
            <ul class="main-nav">
                <% if (isAuthenticated) { %>
                <li class="active"><a href="/">Karta</a></li>
                <li><a href="/my-page">Min sida</a></li>
                <li><a href="/logout-page">Logga ut</a></li>
                <li><a href="/about">Om</a></li>
                <% } else {%>
                <li class="active"><a href="/">Karta</a></li>
                <li><a href="/login">Logga in</a></li>
                <li><a href="/register">Registera</a></li>
                <li><a href="/about">Om</a></li>
                <% } %>
            </ul>
        </div>
    </header>
    <div class="page">
        <h1>Industriell Symbios <%= region %></h1>
        <div class="map">
            <div id="mapViewDivArcgis"></div>
        </div>
        <!--<div class="map">
            <div id="mapViewDivOsm"></div>
        </div>-->
        <div class="button">
            <a href="/video" class="btn btn-one">Se video</a>
            <a href="/about" class="btn btn-two">Om Industriell Symbios</a>
        </div>
    </div>
</body>