


<head>
        <title>IndSym_Login</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <header>
        <div class="nav-row">
            <div class="logo">
                <img src="../image/AFRY-Logo.svg" alt="AFRY">
            </div>
            <ul class="main-nav">
                <li><a href="/">Karta</a></li>
                <li><a href="/login">Logga in</a></li>
                <li><a href="/register">Registera</a></li>
                <li class="active"><a href="/about">Om</a></li>
            </ul>
        </div>
    </header>
    <div class="page">
        <div>
            <h2>Hej <%= name  %> </h2>
        </div>
        <div>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log out</button>
            </form>
        </div>
    </div>
</body>